.daydeal{
    display: flex;
    width: 100%;
    
}
.daydeal img{
    width: 100%;
    cursor: pointer;
}
.margins h1 , .clrMargin h1{
    text-align: left;
    color: #3e4152;
    font-weight: 500;
   margin: 50px 0px;
   margin-left: 30px;

}

.ExlusiveB{
display: grid;
grid-template-columns: repeat(8,1fr);
background-color: #f6f5f8;
}

.ExlusiveB img{
    width: 100%;
    cursor: pointer;
}


.slashed{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1px 0px;
    }
    .slashed img{
width: 100%;
cursor: pointer;

    }

    .beauty{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        background-color: #f6f5f8;
        }

    .beauty img{
        width: 100%;
    cursor: pointer;

    }    
    .clrMargin{
        margin: 50px 0px 50px 0px;
        padding-bottom: 50px;
    }
