

.main{
    text-align: left;
    cursor: pointer;

}img{
    width: 100%;
}
.rating{
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 5px;
    position: relative;
    left: 10px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 12px;
}

.star{
    color: teal;
}

.title{
margin: 2px 0px;
}

.subtitle{
margin: 2px 0px;
font-weight: 400;
color:#53575f;
font-size: 14px;


}

.prc{
display: flex;
justify-content: space-between;
width: max-content;
align-items: center;
gap: 0px 5px;
}

.prc>P:first-child{
    font-size: 14px;
margin: 5px 0px;

}
.prc>p:nth-child(2){
    font-size: 14px;
    font-weight: 300;
    color:#53575f;
   text-decoration: line-through;
margin: 5px 0px;

}
.prc>:last-child{
    color: #ff905a;
    font-size: 14px;
    font-weight: 300;
margin: 5px 0px;

}

.wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(185, 185, 185);
   width: 85%;
   margin: auto;

}
.wishlist:hover{
    border: 1px solid;
    cursor: pointer;
    z-index: 4;
}
.hoverWish{
    position: relative;
    top: -30px;
background-color: rgba(255, 255, 255, 0.959);
padding: 5px 0px;
margin-bottom: -25px;
}
.wishlistWord{
    font-weight: 400;

}

.size{ 
    font-size: 14px;
    position: relative;
    top: -20px;
   margin-bottom: -35px;

}
.size p{
    font-weight: 400;
    color: #53575f;
}