
.main{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    margin: 0px 20px;
}

.imgSec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
.imgSec>div{
    overflow: hidden;
}
.imgSec img{
    width: 100%;
    transition: .8s all ease-in-out;
}

.imgSec img:hover {
    transform: scale(1.3);
    
  }
  .DeteailDiv{
    text-align: left;
    position: sticky;
    top: 0;
    height: max-content;
    margin-left: 20px;
  }

  .title{
    text-align: left;
    font-size: 24px;
  }
  .title>p:first-child{
    margin: 5px 0px;
    color: #282c3f;
  }

  .title>p:last-child{
    font-weight: 400;
    margin: 5px 0px;
    color:#535665cb;
  }

  .RtDiv{
    cursor: pointer;
    display: flex;
    border: 1px solid rgba(202, 202, 202, 0.671);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    gap:5px
  }
  .RtDiv:hover{
    border: 1px solid black;
  }
.RtDiv>span{
    color: #535665cb;
}
.hr{
    margin:     25px 0px;
}
.hr>hr{
    border-color: #e7e8f075;

}

.prcDiv{
    display: flex;
    width: max-content;
    align-items: flex-end;
    gap: 15px;
}
.prcDiv>:first-child{
    color: #282c3f;
    font-size: 24px;
    
}
.prcDiv>:nth-child(2){
    font-size: 22px;
    color:#7c7d83;
    font-weight: 300;
}
.prcDiv>:nth-child(2)>span{
    text-decoration: line-through;
    font-weight: 300;
}

.prcDiv>:last-child{
    font-size: 22px;
    color: #ff905a;
}

.text{
    color:#03a685;
    font-size: 14px;
    margin-bottom: 20px;
}

.sZ{
    display: flex;
    width: max-content;
    gap: 30px;
    align-items: flex-end;
}
.sZ>:first-child{
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.sZ>:last-child{
    color:#f53360;
    font-weight: 700;
    font-size: 18px;
}
.sizes{
    display: flex;
    flex-wrap: wrap;
width: 100%;
gap: 10px;
}
.sizes>button{
    background: transparent;
    border-radius: 50px;
    padding: 10px 12px;
    width: max-content;
    cursor: pointer;

    border:1px solid #b8b8b8cb;
}

.sizes>button:hover{
    border: 1px solid #ff3f6c;
}

.cart{
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
    margin-top: 30px;
}

.cart>div{
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
   
}
.cart>div>:first-child{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}
.cart>div *{
    margin: 0px;
    padding: 0px;

}

.cart>div:first-child{
    background: #ff3f6c;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding:15px 60px;

}
.cart>div:first-child{
    background: #ff3f6c;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.cart>div:first-child:hover{
    background-color: #ff3f6cdc;
}

.cart>div:last-child{
    border: 1px solid rgb(194, 194, 194);
    padding:15px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.cart>div:last-child:hover{
border: 1px solid black;
}

.dlvry{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    gap: 10px;
}

.pincd{
    display: flex;
    width: max-content;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(197, 197, 197);
}

.pincd>input{
    outline: none;
    border: none;
    font-size: 16px;
}
.pincd>input::-webkit-outer-spin-button,
.pincd>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pincd>button{
    background-color: transparent;
    border: none;
    color:#e9466c;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.pinrqs{
    font-size: 14px;
    font-weight: 400;
    color: #535458;
}

.rtnPolicy{
    margin-bottom: 50px;
}
.rtnPolicy>p{
    font-weight: 400;
    font-size: 18px;
}