.firstDiv>div{
    text-align: left;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0px 5px;
    margin: 0px;
    padding: 0px;
}

.firstDiv>div>p{
    margin: 5px;
    font-size: 14px;
    color: #2d3144
}
.firstDiv>div>span{
    font-weight: 400;
    font-size: 16px;
    color:#878b94
}

.products{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px 50px;
padding: 20px;
width: 100%;
}


.pgn{
    display: flex;
    width: 20%;
    margin:50px auto;
    justify-content: space-between;
    gap: 20px;
}
.pgn button{
    background: transparent;
    border-radius: 5px;
    padding: 5px 20px;
    color: grey;
    cursor: pointer;
    border: 1px solid rgb(151, 151, 151);
    

}
.pgn button:hover{
    background-color: #ffaaa3;
}

.StoreMain{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    
}
.StoreMain>div:first-child{
    text-align: left;
    border: 1px solid rgb(141, 140, 140);
    width: 25%;
    position: sticky;
    top: 0;
    height: max-content;
    background-color: #fff;

}

.radioPink{
    accent-color: #ff3f6c ;
}

.Type{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 10px;
    border-radius: 2px;
}
.Type>div{
    margin: 5px;
}

.FilterCat{
margin: 5px;
}
.filterC{
border-bottom: 1px solid silver;

}
.FilterCat label{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 400;
}


.colorCheck{
    accent-color: #ff3f6c ;
}