.main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main>div:first-child{
    display: flex;
    gap: 10px;
}

.main>div:first-child>h3:first-child{
    font-size: 20px;
    color: #3d3c50;
}
.main>div:first-child>h3:last-child{
    font-size: 20px;
    font-weight: 400;
    color: #3d3c50;

}

.wishlists{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    gap: 75px;
    justify-content: space-between;
}
.singleW{
border: 1px solid rgb(216, 216, 216);
}

.singleW>div:first-child>img{
    width: 100%;
}

.dtl{
text-align: center;
}

.dtl>div:first-child>p{
    font-weight: 400;
    }

.dtl>div:nth-child(2){
    display: flex;
    gap: 10px;
    align-items: center;
    width: 80%;
    margin: auto;
}
.prc{
    display: flex;
    align-items: baseline;
    margin: 20px auto !important;
}
.prc *{
    margin: 0px;
}
.prc>:first-child{
font-weight: 700;
color: #373744;
font-size: 18px;
}

.prc>:nth-child(2){
    font-weight: 400;
    color: #8a8a8a;
    font-size: 16px;
    text-decoration: line-through;
    }

    
.prc>:nth-child(3){
    font-weight: 400;
    color:   #ff925f;
    font-size: 16px;
    }

    .checkout{
        border: 1px solid rgba(230, 230, 230, 0.63);
        padding: 10px;
  color:   #ff4a74 ;
  font-weight: 700;
  cursor: pointer;
    }

    .delete{
        width: max-content;
        padding:5px 10px;
        background: #c9c9c93b;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        top: -300px;
        left: 85%;
        margin-bottom: -40px;
    }

    .delete:hover{
        background-color: aliceblue;
    }