/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #C1BFC1 #EBEBEB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: #EBEBEB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ECE6EA;
}

*::-webkit-scrollbar-track:active {
  background-color: #F0EDEE;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #C1BFC1;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #AEADAE;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #B7B7B7;
}

